.card__title {
  color: #1a1b22;
  font-family: Roboto Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 16px 0;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .card__title {
    line-height: 26px;
  }
}