.card__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 24px 50px 24px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .card__description {
    padding: 16px 16px 46px 16px;
  }
}

@media screen and (max-width: 767px) {
  .card__description {
    padding: 16px 16px 40px 16px;
  }
}