@import url('__avatar/about__avatar.css');
@import url('__description/about__description.css');
@import url('__title/about__title.css');
@import url('__text/about__text.css');

.about {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 104px;
  box-sizing: border-box;
}