.card-wrapper {
  width: 100%;
  /* width: calc((100% - 32px)/3); */
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
  position: relative;
  /* margin-bottom: 64px; */
  min-width: 200px;
}