@import url('../../blocks/header/header.css');
@import url('../../blocks/search/search.css');
@import url('../../blocks/about/about.css');
@import url('../../blocks/footer/footer.css');
@import url('../../blocks/logout/logout.css');
@import url('../../blocks/wrapper/wrapper.css');
@import url('../../blocks/line/line.css');
@import url('../../blocks/footer/footer.css');

body {
  margin: 0;
}

.page {
  background-color: #eee;
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
