@import url('_type_active/header__link_type_active.css');
@import url('_type_passive/header__link_type_passive.css');

.header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: block;
  transition: opacity .3s linear;
}