.popup__link_type_success {
  margin: 15px 0 0 0;
  font-size: 18px;
  align-self: flex-start;
}

.popup__link_type_success::before {
  content: '';
  right: 0;
}

@media screen and (max-width: 540px) {
  .popup__link_type_success {
    margin-top: 50px;
  }
}