.not-found__message {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  max-width: 350px;
  text-align: center;
  margin: 0;
}