.search-results__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 64px 16px;
  box-sizing: border-box;
  padding: 0 0 64px 0;
  position: relative;
  z-index: 0;
}