.search__button {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  background-color: #2f71e5;
  width: 168px;
  height: 64px;
  box-sizing: border-box;
  padding: 0;
  border:  none;
  border-radius: 100px;
  color: #fff;
  text-transform: capitalize;
  transform: translateY(-100%);
  align-self: flex-end;
  cursor: pointer;
}