@import url('./__image/card__image.css');
@import url('./__description/card__description.css');
@import url('./__date/card__date.css');
@import url('./__title/card__title.css');
@import url('./__text/card__text.css');
@import url('./__source/card__source.css');
@import url('./__keyword/card__keyword.css');
@import url('./__save-button/card__save-button.css');
@import url('./__trash-button/card__trash-button.css');
@import url('./__save-button/_type_saved/card__save-button_type_saved.css');
@import url('./__save-button/_type_unauthorized/card__save-button_type_unauthorized.css');

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 200px;
  min-height: 100%;
  border-radius: 16px;
  background-color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.card:hover {
  box-shadow: 0 24px 50px 8px rgba(8, 29, 45, 0.1);
  position: relative;
  z-index: 0;
}