.about__text {
  max-width: 590px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color:#1a1b22;
  margin: 0 0 30px 0;
}

.about__text:last-child {
  margin-bottom: 0;
}